@import "var";

h1{
    // color: $colorg;
    
}
//nesting

div{

    background-color: $colorg;
    ul{
       list-style: none;
    }

    a{
        color: $colorw;
        text-decoration: none;
    }

    li{
        border: 1px solid red;
    }
}


//mixin 

@mixin textstyle($color,$bgcolor,$padding){
    background-color: $color;
    color: $bgcolor;
    padding: $padding;

}

h1{
    @include textstyle(pink,rgb(11, 11, 96),10px)
}

//import

h2{
    color:$colorn;
    background-color: $coloro;
    
}
