@import "var";

@mixin hover{

    &:hover{

        background-color: $colorn;
        border: none;
        color: $colorw;
        cursor: pointer;
    }

}

h1{
    // color: $colorg;
    
}
//nesting

div{

    background-color: $colorg;
    ul{
       list-style: none;
    }

    a{
        color: $colorw;
        text-decoration: none;
    }

    li{
        border: 1px solid red;
    }
}


//mixin 

@mixin textstyle($color,$bgcolor,$padding){
    background-color: $color;
    color: $bgcolor;
    padding: $padding;

}

h1{
    @include textstyle(pink,rgb(11, 11, 96),10px)
}

//import & pseudo class & content

h2{
    color:$colorn;
    background-color: $coloro;

    &:hover{
        color: $colorr;
        cursor: pointer;
    }
}

button{
    background-color: pink;
    color: $colorn;
    border: 1px solid pink;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;

    @include hover();
}

.btn{
    background-color: $colorg;
    color: $coloro;
    border: 1px solid $colorg;
    @include hover();

}

@mixin demo($widthtest){

    @media (max-width:$widthtest){

        @content;
    }

}

.text1{
    @include demo(900px){
        color: $coloro;
        font-size:20px;
    }
}

// if & for & each 

@mixin testi{

    // @if($width == 400){

    //     @media(max-width:400px)
    //     @content;
    
    // }@else{
    
    // }
    @content;
}


.text{
    @include testi{
        font-size: 20px;
        color: $coloro;
    }
}



